.chat-container {
  position: fixed;
  right: 20px;
  bottom: 70px;
  width: 400px;
  height: 600px;
  box-shadow: 0px 0px 10px 5px lightgray;
  border-radius: 20px;
  display: none;
	z-index: 10000;
}

.chat-header {
  width: 100%;
  height: 100px;
  background-color: #c9545c;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.chat-body {
  width: 100%;
  height: 450px;
  background-color: white;
  overflow-y: auto;
}

.chat-footer {
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 1px solid #b0b0b0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chat-footer input {
  width: 70%;
}

.chat-footer input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.chat-footer label {
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  color: #adadad;
}

.chat-body>.chat-box {
  min-width: 100%;
  height: auto;
}

.chat-box>.chat-my {
  border-radius: 15px;
  border-top-right-radius: 3px;
  display: inline-block;
  margin: 5px 10px 0px 150px;
  padding: 10px;
  text-align: left;
  background-color: lightgrey;
}

.chat-box>.chat-you {
  font-size: 17px;
  border-radius: 15px;
  border-top-left-radius: 3px;
  display: inline-block;
  margin: 5px 0px 10px 30px;
  padding: 10px;
  background-color: #600074;
  color: white;
  font-weight: bold;
  text-align: left;
}

.chat-btn {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.chat-icon {
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.t-r {
  text-align: right;
}

.t-l {
  text-align: left;
}

@media screen and (max-height: 660px) {
  .chat-container {
    height: 300px;
  }

  .chat-body {
    height: 150px;
  }
}
