@charset "UTF-8";

.title-box {
	border: 6px solid green;
	background-color: white;
	height: 53px;
	width: 100%;
	color: black;
	font-size: 20px;
	text-align: left;
}

.title-box::placeholder {
  margin-left: 10px;
  text-align: left;
  color: gray;
  opacity: 0.7; /* Firefox */
}

input[type=text]:focus {
    outline: none;
}


#lectureDescription {
	height: 150px;
}

#instructorDescription {
	height: 150px;
	
}

select {

    width: 580px; /* 원하는 너비설정 */
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('/resources/img/instructor/icon/select.png') no-repeat 95% 50%;
    border: 6px solid green;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

select:focus {
	 outline: none;
	  border: 6px solid #ff7373;
}

#holder {
	border: 10px solid green;
	width : 420px;
	height: 285px;
}


#holderVideo {
	display: none;
}

#lectureThumb {
  opacity: 0;
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  width: 400px;
}

.replace {
 
 	position: absolute;
	padding-right: 100px;
	padding-left:100px;
	border-radius: 5px;
	border: 3px solid #ff7373;
	cursor: pointer;
	padding: 6px 90px 6px 90px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	transition: 0.3s;
	background-color: #ff7373;
	color: white;
	cursor: pointer;
	
}

.create-lecture-cancel {
	padding-right: 100px;
	padding-left:100px;
	
	float: right;
	border-radius: 5px;
	border: 1px solid lightgray;
	cursor: pointer;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	transition: 0.3s;
	background-color: white;
	color: #ff7373;
	margin-right: 10px;
	
}

.create-lecture-next {
	float: right;
	padding-right: 100px;
	padding-left:100px;
	border-radius: 5px;
	cursor: pointer;
	padding: 6px 90px 6px 90px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	transition: 0.3s;
	background-color:  #ff7373;
	color: white;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
