.paid-cart-banner {
background: -webkit-linear-gradient(left, rgba(104,117,255,1) 0%, rgba(175,238,238,1) 100%);
background: -o-linear-gradient(left, rgba(104,117,255,1) 0%, rgba(175,238,238,1) 100%);
background: linear-gradient(to right, rgba(104,117,255,1) 0%, rgba(175,238,238,1) 100%);
    min-height: 200px;
    margin-top:20px;
    margin-bottom: 30px;
}

#paid-cart-category {
    margin-top:50px;
    color: white;
}

#paid-cart-description {
    color: white;
    font-size: 20px;
}

.paid-cart-content {
    border: 1px solid #ff7373;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:20px;
}

.cart-photo {
	height:100px;
	width:200px;
    margin: auto;
}
#paid-cart-photo {
	height: 100%;
	width: 100%;
	object-fit: contain;
    text-align:center;
}

#paid-cart-title {
	margin-top: 10px;
    font-weight: 600;
}

.paid-cart-priceform {
    margin-top: 70px;
	font-size: 20px;
    font-weight: 500;
    text-align: right;
}

hr.cart {
    margin-top : 40px;
    margin-bottom : 10px;
    border-top: 1px solid black;
    padding-right: 0px;
}

#paid-cart-btn {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    float: right;
    font-weight: 700;
    font-size: 15px;
}

#paid-cart-btn:hover {
	background-color: #ff7373;
}

#paid-cart-content-description {
    font-weight: 300;
}

.paid-cart-totalpriceform {
    font-size: 25PX;
    font-weight: 800;
    text-align: right;
}