@charset "UTF-8";

.section-whole-box {
    background-color: black;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
	box-shadow: 5px 5px 5px 5px gray;
}

.section-top-box {
    margin-bottom: 10px;
}

.section-no-box {
    margin-left: 4%;
}

#section-complete-box {
    background-color: #ff7373;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color : white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10%;
}

#section-no {
    color: white;
}

#section-name {
    margin-left: 5%;
    color: white;
}

.section-lessonbox {
    background-color: #afeeee;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.section-lesson-list {
    display: none;
	margin-bottom: 20px;
}

.lesson-per-one {
    padding-top: 20px;
    padding-bottom: 20px;
}

#complete-symbol {
    color: green;
    text-align: right;
}

#lesson-name {
    font-weight: 800;
}