@charset "UTF-8";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afeeee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7373;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: pink;
}

.paid-title {
    font-weight: 700;
    font-size: 60px;
    margin-top: 10px;
}

body {
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}


#paid-info-topright {
    margin-top: 80px;
    text-align: right;
}

#paid-info-topleft {
    margin-top: 50px;
    text-align: left;
}

.paid-continue-btn {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 400px;
}

#paid-cart-btn {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 400px;
    background-color: transparent;
    color: black;
    
}

#paid-purchase-btn {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 400px;
}

.nonlogin-paid-purchase-btn {
	margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 400px;
}

.nonlogin-paid-cart-btn {
	margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 400px;
    background-color: transparent;
    color: black;
}

.paid-top-menu {
    margin-top: 10px;
    padding:0px;
}

.paid-top-icon {
    width:50px;
    height: 50px;
}

.paid-top-icon left{
    float: left;
}

.right{
    float: right;
}

.paid-progress {
    margin-top: 50px;
}

#paid-bar-total {
    position:relative;
    width: 85%;
	height:10px;
	background-color: #afeeee;
    align: center;
    margin: auto;
    opacity: 0.6;
}

#paid-bar-progress {
	position:absolute;
	height:10px;
	background:#ff7373;
    margin: 0px;
}

.paid-overview-features {
    margin-top: 10px;
}

#paid-instructor-photo {
    text-align: left;
    margin: 0px;
    width: 100px;
    height: auto;
}

#paid-instructor-description {
    margin-top: 20px;
    
}

.course-features *:not(h5) {
    text-align: center;
}

.course-features h3 {
    margin-top: 5px;
}

.course-features p {
    margin-top: 5px;
    font-size: 10px;
}

#lang-box {
    background-color: #ff7373;
    padding: 0px;
    margin-top: 5px;
}

#level-box {
    background-color:  #afeeee;
    padding: 0px;
    margin-top: 5px;
    width: 49.6%;
}

#hours-box {
    background-color: #40e0d0;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    width: 49.9%;
}

#special-box {
    background-color: lightgray;
    padding: 0px;
    margin-top: 5px;
}

.paid-default-menu {
    margin-top:100px;
    text-align: center;
}

.paid-default-menu li {
    padding : 20px;
    margin-left: 52px;
    margin-right: 52px;
    float: left;
}

.paid-default-menu li:hover {
    background-color: #ff7373;
}

.paid-default-menu li a{
    color: black;
    text-decoration: none;
}

.create-note-cancel {
	background: transparent;
	color: black;
}

.like-wrapper {
	color: gray;
	font-weight: 600;
}

#like {
	font-size : 16px;
	margin-left:10px;
	color: red;
}

.completePercent {
	color : red;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 800;
	margin-bottom: 50px;
}

.paid-each-bookmark {
	border: 1px solid #ff7373;
	margin-bottom: 20px;
	border-radius: 25px;
}

.paid-each-bookmark:hover {
	background: #ff7373;
	color: white;
}
