.search-container {
	background-color: black;
	height : 150px;
	margin-top: 20px;
}

#search-box {
	margin-top: 60px;
	margin-left: 120px;
	border: 3px solid white;
	background-color: transparent;
	height: 30px;
	width: 400px;
	opacity: 1;
	color: white;
}

#search-box:focus {
	color: #ff7373;
	text-align: center;
}

#search-box::placeholder {
  text-align: center;
  color: white;
  opacity: 1; /* Firefox */
}

#paid-question-add {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 150px;
	padding-left: 150px;
	margin-left: 60PX;
}

#each-question-profphoto {
    text-align: left;
    margin: 0px;
    width: 100px;
    height: auto;
    border-radius: 50%;

}


.each-question-wrapper {
	border: 1px solid #ff7373;
	padding: 10px;
	margin-top: 30px;
}

#each-question-profname {
	font-size: 10px;
	color: gray;
	margin-top: 10px;
	margin-left: 20px;

}

#each-question-title {
	margin-top: 0px;
	margin-left: 20px;
}

.each-question-dateform {
	margin-left: 20px;
	color: gray;
	font-size: 10px;
	margin-top: 20px;

}

.each-question-top-reply {
	margin-top: 40px;

}

#each-question-contents {
	margin-top: 25px;
}

.each-question-replyform {
	margin-top: 40px;
	margin-bottom: 30px;
}

#each-question-reply-submit {
	float: right;
	margin-top: 10px;
	margin-right: 3px;
	padding-left: 30px;
	padding-right: 30px;
}

#each-question-replyphoto {
	text-align: left;
    margin: 0px;
    width: 60px;
    height: auto;
    border-radius: 50%;
}

#each-question-replyName {
	font-size: 10px;
	color: gray;
}

#each-question-replyDate {
	margin-left: 20px;
	font-size: 10px;
	color: dodgerblue;
}

.each-question-list {
	margin-top: 40px;
}

.each-question-manipulate {
	float: right;
	margin-right: 20px;
	font-size: 10px;
}

.each-question-btn-modify {
	color: orange;
	margin-right: 10px;
	cursor: pointer;
}

.each-question-btn-delete {
	color: red;
	cursor: pointer;
}

#each-question-reply-modify-submit {
	margin-top: 10px;
	margin-right: 20px;
	background-color: orange;
	border: 1px solid orange;
	float: right;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 10px;
	color: black;

}

#each-question-reply-modify-cancel {
	margin-top: 10px;
	margin-right: 15px;
	border: 1px solid red;
	background-color:white;
	float: right;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 10px;
}

.each-question-contentsWrapper {
	display: none;
}

.each-question-replyform-modify {
	display: none;
}