.section-whole-box {
    background-color: black;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
	box-shadow: 5px 5px 5px 5px gray;
}

.section-top-box {

    margin-bottom: 10px;
}

.section-no-box {
    margin-left: 4%;

}

#section-complete-box {
    background-color: #ff7373;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color : white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10%;
}

#section-no {
    color: white;
}

#section-name {
    margin-left: 5%;
    color: white;
}

.section-lessonbox {
    background-color: #afeeee;
    margin-top: 10px;
    padding-bottom: 20px;
}

.section-lesson-list {
    display: none;
    margin-bottom: 30px;
}

.lesson-per-one {
    padding-top: 20px;
    padding-bottom: 20px;
}

#complete-symbol {
    color: green;
    text-align: right;
}

#lesson-name {
    font-weight: 800;
}

#title-box {
	border: 6px solid #ff7373;
	background-color: #91A8d0;
	height: 50px;
	width: 1070px;
	color: white;
	font-size: 20px;
	text-align: left;
}

.video-create-note-cancel {
	padding-right: 100px;
	padding-left:100px;
	border-radius: 5px;
	border: 2px solid #ff7373;
	cursor: pointer;
	padding: 6px 90px 6px 90px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	transition: 0.3s;
	background-color: transparent;

}

.video-create-note-save {
	padding-right: 100px;
	padding-left:100px;

}

#title-box::placeholder {
  text-align: left;
  color: white;
  opacity: 0.7; /* Firefox */
}